**Basic Statistics with Pandas**

Parts of this tutorial are adapted from https://www.dataquest.io/blog/pandas-python-tutorial/

In [1]:
import pandas as pd

In [2]:
# Pandas uses a DataFrame data structure as a way to represent and work with tabular data. 
df = pd.read_csv("diabetes.csv")

In [3]:
# Once we read in a DataFrame, Pandas gives us two functions that make it fast to print out and review the data.
# pandas.DataFrame.head -- prints the first N rows of a DataFrame. By default 5.
df.head()

,id,chol,stab.glu,hdl,ratio,glyhb,location,age,gender,height,weight,frame,bp.1s,bp.1d,waist,hip
0,1000,203.0,82,56.0,3.6,4.31,Buckingham,46,female,62.0,121.0,medium,118.0,59.0,29.0,38.0
1,1001,165.0,97,24.0,6.9,4.44,Buckingham,29,female,64.0,218.0,large,112.0,68.0,46.0,48.0
2,1002,228.0,92,37.0,6.2,4.64,Buckingham,58,female,61.0,256.0,large,190.0,92.0,49.0,57.0
3,1003,78.0,93,12.0,6.5,4.63,Buckingham,67,male,67.0,119.0,large,110.0,50.0,33.0,38.0
4,1005,249.0,90,28.0,8.9,7.72,Buckingham,64,male,68.0,183.0,medium,138.0,80.0,44.0,41.0

**NOTE: Individual columns in Pandas are Series, not DataFrames**

In [8]:
# Pandas Series and DataFrames have convinience functions that make calculations simpler. 
# For example, we can use the pandas.Series.mean method to find the mean of a Series
df["chol"].mean()

207.84577114427861

In [9]:
# Similarly, we can use pandas.DataFrame.mean method to will find the mean of each numerical column in a DataFrame
df.mean()

id          15978.310174
chol          207.845771
stab.glu      106.672457
hdl            50.445274
ratio           4.521642
glyhb           5.589769
age            46.851117
height         66.020101
weight        177.592040
bp.1s         136.904523
bp.1d          83.321608
waist          37.900249
hip            43.039900
dtype: float64

In [7]:
# pandas.DataFrame.corr finds the correlation between columns in a DataFrame
df.corr()

,id,chol,stab.glu,hdl,ratio,glyhb,age,height,weight,bp.1s,bp.1d,waist,hip
id,1.000000,0.059243,0.009315,0.059255,-0.034094,0.010378,-0.011083,-0.036948,-0.018658,0.013715,0.084001,-0.008123,0.048658
chol,0.059243,1.000000,0.150092,0.186581,0.475521,0.247099,0.233119,-0.058858,0.066889,0.203344,0.171605,0.124489,0.079402
stab.glu,0.009315,0.150092,1.000000,-0.161899,0.280349,0.749236,0.289258,0.090669,0.185453,0.166467,0.022014,0.218446,0.133502
hdl,0.059255,0.186581,-0.161899,1.000000,-0.686907,-0.149145,0.038088,-0.101419,-0.290983,0.019804,0.065732,-0.268369,-0.210060
ratio,-0.034094,0.475521,0.280349,-0.686907,1.000000,0.328665,0.148510,0.094335,0.281649,0.119386,0.048193,0.304162,0.194622
glyhb,0.010378,0.247099,0.749236,-0.149145,0.328665,1.000000,0.338929,0.063023,0.171882,0.197936,0.032375,0.226184,0.141401
age,-0.011083,0.233119,0.289258,0.038088,0.148510,0.338929,1.000000,-0.090493,-0.055970,0.443041,0.058227,0.149645,0.008819
height,-0.036948,-0.058858,0.090669,-0.101419,0.094335,0.063023,-0.090493,1.000000,0.251251,-0.047827,0.038598,0.051094,-0.107832
weight,-0.018658,0.066889,0.185453,-0.290983,0.281649,0.171882,-0.055970,0.251251,1.000000,0.090873,0.175956,0.849855,0.829115
bp.1s,0.013715,0.203344,0.166467,0.019804,0.119386,0.197936,0.443041,-0.047827,0.090873,1.000000,0.596557,0.196489,0.136655
bp.1d,0.084001,0.171605,0.022014,0.065732,0.048193,0.032375,0.058227,0.038598,0.175956,0.596557,1.000000,0.167110,0.145805
waist,-0.008123,0.124489,0.218446,-0.268369,0.304162,0.226184,0.149645,0.051094,0.849855,0.196489,0.167110,1.000000,0.837080
hip,0.048658,0.079402,0.133502,-0.210060,0.194622,0.141401,0.008819,-0.107832,0.829115,0.136655,0.145805,0.837080,1.000000

In [8]:
# pandas.DataFrame.count counts the number of non-null values in each DataFrame column
df.count()

id          403
chol        402
stab.glu    403
hdl         402
ratio       402
glyhb       390
location    403
age         403
gender      403
height      398
weight      402
frame       391
bp.1s       398
bp.1d       398
waist       401
hip         401
dtype: int64

In [9]:
# pandas.DataFrame.max finds the highest value in each column.
# pandas.DataFrame.min finds the lowest value in each column.
# pandas.DataFrame.median finds the median of each column.
# pandas.DataFrame.std finds the standard deviation of each column.
# pandas.DataFrame.var finds the variance of each column

df.std()

id          11881.122124
chol           44.445557
stab.glu       53.076655
hdl            17.262626
ratio           1.727886
glyhb           2.242595
age            16.312333
height          3.918515
weight         40.340666
bp.1s          22.741033
bp.1d          13.589227
waist           5.729313
hip             5.656713
dtype: float64

In [11]:
df.describe()

,id,chol,stab.glu,hdl,ratio,glyhb,age,height,weight,bp.1s,bp.1d,waist,hip
count,403.000000,402.000000,403.000000,402.000000,402.000000,390.000000,403.000000,398.000000,402.000000,398.000000,398.000000,401.000000,401.000000
mean,15978.310174,207.845771,106.672457,50.445274,4.521642,5.589769,46.851117,66.020101,177.592040,136.904523,83.321608,37.900249,43.039900
std,11881.122124,44.445557,53.076655,17.262626,1.727886,2.242595,16.312333,3.918515,40.340666,22.741033,13.589227,5.729313,5.656713
min,1000.000000,78.000000,48.000000,12.000000,1.500000,2.680000,19.000000,52.000000,99.000000,90.000000,48.000000,26.000000,30.000000
25%,4792.500000,179.000000,81.000000,38.000000,3.200000,4.380000,34.000000,63.000000,151.000000,121.250000,75.000000,33.000000,39.000000
50%,15766.000000,204.000000,89.000000,46.000000,4.200000,4.840000,45.000000,66.000000,172.500000,136.000000,82.000000,37.000000,42.000000
75%,20336.000000,230.000000,106.000000,59.000000,5.400000,5.600000,60.000000,69.000000,200.000000,146.750000,90.000000,41.000000,46.000000
max,41756.000000,443.000000,385.000000,120.000000,19.299999,16.110001,92.000000,76.000000,325.000000,250.000000,124.000000,56.000000,64.000000

**Searching / Filtering DataFrames**

In [13]:
# In order to understand how filtering works in Pandas DataFrames, think back to how 
# conditions are evaluated in Python's if/else statements.  Remember boolean truth tables?
# In Pandas DataFrames, search works in a similar fashion, using "BOOLEAN INDEXING"
# If we wanted to find all the patients who are older than 40 years old?
# The comparison compares each value in a Series to a specified value, 
# then generate a Series full of Boolean values indicating the status of the comparison. 

age_filter = df["age"] > 40
age_filter

0       True
1      False
2       True
3       True
4       True
       ...
398     True
399     True
400    False
401     True
402     True
Name: age, Length: 403, dtype: bool

In [14]:
# Once we have a Boolean Series, we can use it to select only rows in a DataFrame 
# where the Series contains the value True.
filtered_df = df[age_filter]
filtered_df.head()

,id,chol,stab.glu,hdl,ratio,glyhb,location,age,gender,height,weight,frame,bp.1s,bp.1d,waist,hip
0,1000,203.0,82,56.0,3.6,4.31,Buckingham,46,female,62.0,121.0,medium,118.0,59.0,29.0,38.0
2,1002,228.0,92,37.0,6.2,4.64,Buckingham,58,female,61.0,256.0,large,190.0,92.0,49.0,57.0
3,1003,78.0,93,12.0,6.5,4.63,Buckingham,67,male,67.0,119.0,large,110.0,50.0,33.0,38.0
4,1005,249.0,90,28.0,8.9,7.72,Buckingham,64,male,68.0,183.0,medium,138.0,80.0,44.0,41.0
8,1016,177.0,87,49.0,3.6,4.84,Buckingham,45,male,69.0,166.0,large,160.0,80.0,34.0,40.0

In [17]:
df[df['age'] > 40].shape

(243, 16)

In [25]:
# It is possible to use multiple conditions for filtering.
# For example, we can find patients who are over 40 and have low hdl cholesterol

search_filter = (df["age"] > 40) & (df["hdl"] < 40)
filtered_df = df[search_filter]
filtered_df.head()

,id,chol,stab.glu,hdl,ratio,glyhb,location,age,gender,height,weight,frame,bp.1s,bp.1d,waist,hip
2,1002,228.0,92,37.0,6.2,4.64,Buckingham,58,female,61.0,256.0,large,190.0,92.0,49.0,57.0
3,1003,78.0,93,12.0,6.5,4.63,Buckingham,67,male,67.0,119.0,large,110.0,50.0,33.0,38.0
4,1005,249.0,90,28.0,8.9,7.72,Buckingham,64,male,68.0,183.0,medium,138.0,80.0,44.0,41.0
16,1037,255.0,78,38.0,6.7,4.33,Louisa,50,female,65.0,183.0,medium,130.0,100.0,37.0,43.0
30,1301,177.0,101,36.0,4.9,5.11,Buckingham,42,female,65.0,174.0,medium,146.0,94.0,37.0,40.0

In [30]:
q = "(age > 40 & hdl < 40) | (location == 'Buckingham' & gender == 'female')"
df.query(q)

,id,chol,stab.glu,hdl,ratio,glyhb,location,age,gender,height,weight,frame,bp.1s,bp.1d,waist,hip
0,1000,203.0,82,56.0,3.6,4.31,Buckingham,46,female,62.0,121.0,medium,118.0,59.0,29.0,38.0
1,1001,165.0,97,24.0,6.9,4.44,Buckingham,29,female,64.0,218.0,large,112.0,68.0,46.0,48.0
2,1002,228.0,92,37.0,6.2,4.64,Buckingham,58,female,61.0,256.0,large,190.0,92.0,49.0,57.0
3,1003,78.0,93,12.0,6.5,4.63,Buckingham,67,male,67.0,119.0,large,110.0,50.0,33.0,38.0
4,1005,249.0,90,28.0,8.9,7.72,Buckingham,64,male,68.0,183.0,medium,138.0,80.0,44.0,41.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
363,40775,219.0,173,31.0,7.1,10.16,Louisa,56,female,65.0,197.0,small,100.0,50.0,41.0,50.0
371,40799,194.0,95,36.0,5.4,4.97,Louisa,63,female,58.0,210.0,medium,140.0,100.0,44.0,53.0
374,40805,202.0,84,33.0,6.1,4.17,Louisa,44,male,68.0,157.0,small,125.0,80.0,33.0,37.0
376,41001,227.0,85,26.0,8.7,4.98,Louisa,58,male,70.0,211.0,large,144.0,82.0,38.0,43.0
381,41029,289.0,267,38.0,7.6,11.41,Louisa,59,male,68.0,169.0,large,142.0,79.0,36.0,38.0