In [1]:
import pandas as pd

In [8]:
df = pd.read_csv("diabetes.csv")
df.dropna(inplace=True)
df.head()

,id,chol,stab.glu,hdl,ratio,glyhb,location,age,gender,height,weight,frame,bp.1s,bp.1d,waist,hip
0,1000,203.0,82,56.0,3.6,4.31,Buckingham,46,female,62.0,121.0,medium,118.0,59.0,29.0,38.0
1,1001,165.0,97,24.0,6.9,4.44,Buckingham,29,female,64.0,218.0,large,112.0,68.0,46.0,48.0
2,1002,228.0,92,37.0,6.2,4.64,Buckingham,58,female,61.0,256.0,large,190.0,92.0,49.0,57.0
3,1003,78.0,93,12.0,6.5,4.63,Buckingham,67,male,67.0,119.0,large,110.0,50.0,33.0,38.0
4,1005,249.0,90,28.0,8.9,7.72,Buckingham,64,male,68.0,183.0,medium,138.0,80.0,44.0,41.0

In [9]:
from sklearn.preprocessing import OneHotEncoder

In [21]:
one_hot = OneHotEncoder()
one_hot_df = one_hot.fit_transform(df[['gender']]).toarray()

In [22]:
pd.DataFrame(one_hot_df).head()

     0    1
0  1.0  0.0
1  1.0  0.0
2  1.0  0.0
3  0.0  1.0
4  0.0  1.0